@model drinkCategoryViewModel

@{
    ViewData["Title"] = "Drink List";
}

<h2>Drink Menu</h2>



<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Order")
            </th>

            <th>
                @Html.DisplayNameFor(model => model.drinks[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.drinks[0].Drink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.drinks) {
        <tr>
            <td>
                @Html.TextBox("orderQty",null, new {style="width:50px;" }  )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>

    

</table>

<a asp-action="placeOrder">Place Order</a>