@model IEnumerable<bartender.Models.orderDrinks>


@{
    ViewData["Title"] = "Drink orders";
}

<h2>Pending Drink Orders</h2>

<h3>
    <a asp-action="Index">Refresh List</a>
</h3>

@*@using (Html.BeginForm("fillOrder", "orderDrinks", FormMethod.Post))*@

<table class="table">

    <tbody>
@foreach (var item in Model)
{
    @Html.HiddenFor(Model => item.ID)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Filled)*@
            @Html.EditorFor(modelItem => item.Filled)
            @*@Html.CheckBoxFor(modelItem => item.Filled)*@
            @*<input type="submit" value="Ready for Pickup" id="item.id"/>*@
            <a asp-action="FillOrder" asp-route-id="@item.ID">Fill Order</a>

        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>

    </tr>
}
    </tbody>

</table>
